body {
  background-color: rgb(170, 128, 128);
  text-align: center;
}

.choices {
  display: inline-block;
  color: black;
  font-size: 30px;
}

#h1 {
  color: black;
  font-size: 3em;
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

#h2 {
  color: black;
  font-size: 2.2em;
}

#user-display {
  color: turquoise;
  font-size: 1.7em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-left: 300px;
  float: left;
}

#user-choice {
  color: turquoise;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-left: 10px;
  float: left;
}

#computer-display {
  color: rgb(218, 49, 49);
  font-size: 1.7em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#computer-choice {
  color: rgb(218, 49, 49);
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-right: 10px;
  float: right;
  
}

#result-display {
  color: white;
  font-size: 2.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-right: 50px;
}

#result {
  color: black;
  font-size: 2.5em;
}
